p {
	color: red;
	background-color: blue;
}
div {
	color: blue;
}

.myFirstClass {
	color: yellow;
}

#hello {
	background-color: orange;
	width: 250px;
	height: 50px;
	border-width: 2px;
	border-style: dashed;
	border-color: blue;
	padding: 10px 5px 15px 20px;
}