{% extends "base.html" %}
<!-- search.html -->
{% block title %}
  Search | QuickReadyForInterview
{% endblock %}

{% block body %}
<!--******************** NAVBAR ********************-->
<div class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
        <a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
        <h1 class="brand"><a href="#top">Quick Ready For Interview</a></h1>
        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->

      </div>
      <!-- /.container -->
    </div>
    <!-- /.navbar-inner -->
  </div>
  <!-- /.navbar -->
</div>
<!-- /.navbar-wrapper -->
<div id="top"></div>
<!-- ******************** HeaderWrap ********************-->
<div id="headerwrap">
  <header class="clearfix">
    <h1>We prep you fast!</h1>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2>Type in the company's name you are interviewing with.</h2>
          <form action="/results" method="post">
            <input type="text" name="company-name" placeholder="ex. Google" class="cform-text" size="40" required/>
            <input id="submitBtn" type="submit" value="Search" class="cform-submit">
          </form>
        </div>
      </div>
    </div>
  </header>
</div>

<!-- ******************** Show Results Here ********************-->
<div id="resultPlaceHolder"></div>



{% endblock %}
